CompileFlags:
  Remove:
    # For module exporting, ignore gcc private flags
    - -fmodules-ts
    - -fmodule-mapper=*
    - -fdeps-format=*
    - -fprebuilt-module-path=*

---
If:
  PathMatch: .*
Diagnostics:
  Suppress:
    - missing-includes
    - readability-identifier-naming
    - misc-include-cleaner
    - cppcoreguidelines-special-member-functions
    - readability-redundant-member-init
    - bugprone-command-processor
    - readability-else-after-return
    - readability-simplify-boolean-expr
