CompileFlags:
  Remove:
    # For module exporting, ignore gcc private flags
    - -fmodules-ts
    - -fmodule-mapper=*
    - -fdeps-format=*
    - -fprebuilt-module-path=*

---
If:
  PathMatch: .*
Diagnostics:
  Suppress:
    - missing-includes
